src-tauri/binaries/ffprobe-x86_64-apple-darwin filter=lfs diff=lfs merge=lfs -text
src-tauri/binaries/ffmpeg-x86_64-apple-darwin filter=lfs diff=lfs merge=lfs -text
src-tauri/resources/models/ggml-base.en.bin filter=lfs diff=lfs merge=lfs -text
