html,
body {

    -ms-overflow-style: none; 
scrollbar-width: none; 
margin: 0;
padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

*:not(.selectable) *{
    user-select: none;
    -webkit-user-select: none;
    cursor:default;
}
.selectable * {
    user-select: initial !important;
}